$fs_232: #232021;
$fs_3e: #3e3e3e;
$fs_444: #444;
$fs_45: #454545;
$fs_54: #545454;
$fs_5d5: #5d5c5c;
$fs_666: #666;
$fs_69: #696969;
$fs_85: #858585;
$fs_999: #999;
$fs_a5: #a5a5a5;
$fs_d1: #d1d1d1;
$fs_fa2: #fa2626;
$fs_fff: #fff;
$fc_1c9: #1c9efe;
$fc_333: #333;
$fc_7db: #7dbeff;
// ----------------
$fc_ff3: #ff3000;
$cor_1d1: #1d1c21;
$cor_a9: #a9a9a9;
$cor_389: #389bff;
$cor_f7: #f7f7f7;
$cor_f8: #f8f8f8;
$cor_c5: #c5c5c5;
$cor_ee3: #ee3435;
$cor_fca: #fcac11;
$cor_0ec: #0ecf97;
$cor_eae: #eaedef;
$cor_f5c: #f5ce17;
$cor_e3b: #e3bb50;
$cor_cac: #cac8ca;
$cor_cc8: #cc8371;
$cor_dad: #dad8da;
$cor_ccc: #ccc;
// ----------------
$bgc_f4: #f4f4f4;
$bgc_f8: #f8f8f8;
// ----------------
$bor_bbb: #bbb;
$bor_d7: #d7d7d7;
$bor_e0: #e0e0e0;
$bdc_ccc: #ccc;
// ----------------
$ff: "Helvetica", "Tahoma", "Arial", "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", "Heiti", "黑体", "sans-serif";
